<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('Todos los Productos')"></head>
<body>
<div th:replace="layout::mainbar"></div>
<div class="container">
    <h1>Lista de productos</h1>
</div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <table class="table table-sm table-hover" id="mydata">
        <thead class="thead-inverse">
        <tr>
            <th>Código</th>
            <th>Producto</th>
            <th>Precio Salida</th>
            <th>Precio Entrada</th>
            <th>Proveedor</th>
            <th>En Stock</th>
            <th>Vendidos</th>
            <th>Botones</th>
        </tr>
        </thead>
        <tfoot class="thead-default">
        <tr>
            <th>Código</th>
            <th>Producto</th>
            <th>Precio Salida</th>
            <th>Precio Entrada</th>
            <th>Proveedor</th>
            <th>En Stock</th>
            <th>Vendidos</th>
            <th>Botones</th>
        </tr>
        </tfoot>
        <tbody>
        <tr th:each="pro:${productos}">
            <td th:text="${pro.id}">id</td>
            <td>
                <a id="producto" th:text="${pro.nombre}" th:href="@{|/${pro.id}|}">nombre</a>
            </td>
            <td class="moneda" th:text="${pro.precio}">precioE</td>
            <td class="moneda" th:text="${pro.precioEntrada}">precioE</td>
            <td>
                <a id="proveedor" th:text="${pro.proveedor}" th:href="@{|/proveedores/${pro.proveedor.id}|}"></a>
            </td>
            <td th:text="${pro.cantidad}">prueba</td>
            <td th:text="${pro.cantidadVendido}"></td>
            <td class="group">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <form th:action="@{|/actualizar/${pro.id}|}" method="post">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" class="btn btn-outline-success" name="action" id="mas" value="mas"
                                        th:text="${mas}">ggg
                                </button>

                                <button type="submit" class="btn btn-outline-success" name="action" id="menos"
                                        value="menos" th:text="${menos}">jjj
                                </button>
                                <div class="input-group">
                                    <input type="number" class="form-control" name="masomenos"
                                           aria-label="Input group example" aria-describedby="btnGroupAddon"
                                           id="input-peque"/>
                                </div>
                            </div>
                            <!--<input type="number" class="form-control" name="masomenos" aria-label="Input group example" aria-describedby="btnGroupAddon"/>-->
                        </form>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <form th:action="@{|/${pro.id}|}" method="post"
                                  onsubmit="return confirm('Realmente quieres eliminar este elemento?');">
                                <button type="submit" class="btn btn-outline-danger">Borrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="layout::footer"></footer>
<div th:replace="layout::scripts"></div>
<script>
    $('#mydata').dataTable();
</script>
</body>
</html>