<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:text="${producto.nombre}">Inventario</title>
    <div th:replace="layout::importes"></div>
</head>

<body>
<div th:replace="layout::mainbar"></div>
<div class="container text-center">
    <h1 th:text="${producto.nombre}">p</h1>
</div>
<div class="container border border-dark rounded">
    <h2>Cantidad</h2>
    <h3 th:text="${producto.cantidad}">p</h3>
    <h2>Precio de salida</h2>
    <h3 th:text="${producto.precio}">p</h3>
    <h2>Precio de entrada</h2>
    <h3 th:text="${producto.precioEntrada}"></h3>
    <h2>Descripción</h2>
    <h3 th:text="${producto.descripcion}">p</h3>
</div>
<!--TODO: Agregar boton para editar el producto-->
</body>
</html>