<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('Proveedores')"></head>
<body>
<div class="cuerpo-real" th:replace="layout::mainbar"></div>
<div class="container">
    <h1 class="titulo">Proveedores</h1>
</div>
<div class="container">
    <div th:each="pro:${proveedor}">
        <ul class="list-group">
            <li class="list-group-item"><a th:text="${pro.nombreP}" th:href="@{|/proveedores/${pro.id}|}"></a>
                <ul class="list-group">
                    <li class="list-group-item">Producto</li>
                    <li class="list-group-item">Producto</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<footer th:replace="layout::footer"></footer>
<div th:replace="layout::scripts"></div>
</body>
</html>