/*TODO: refactorizar, mucho codigo repetido*/

* {
    box-sizing: border-box;
}

body {
    color: #000;
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eee;
}

h2 {
    margin-left: 25px;

}

table, th, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
}

table{
    width: 97%;
}
th{
    height: 50px;
    background-color: #959DFF;
    color: white
}
tr:hover,#menos:hover,#mas:hover {
    background-color: #f5f5f5
}

a:link{
    color: beige;
    text-decoration: none;
}

a:visited{
    color: beige;
}


input[type=text], select, textarea, input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}


/*input[type=submit]:hover {
    background-color: #45a049;
}*/

.main-header {
    padding: 8px 0 8px 20px;
    background-color: cadetblue;
    text-align: right;
    color: beige;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.main-body {
    width: 97%;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin: 0 25px 0 25px;

    background-color: white;
    box-shadow: 2px 0 7px #888888;
    border-radius: 15px;
}

.titulo {
    text-align: center;
    color: #111;
    margin:60px 25px 15px 25px;
    padding: 5px;

    background-color: white;
    box-shadow: 2px 0 7px #888888;
    border-radius: 15px;
}


.main-header ul {
    color: beige;
    float: left;
    padding-left: 3px;
    padding-right: 3px;
    list-style-type: none;
}

.main-header li {
    border: 3px solid beige;
    border-radius: 5px;
    display: inline;
    margin: 7px;
    padding: 15px;
}

/*esto es para que no se dañe el layout por culpa del float*/
.group:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    background-color:cadetblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*TODO: Arreglar el overfloating...*/
.masYmenos{

    float: left;
}

#mas,#menos{
    background-color:#fff;
    border: none;
    color: #959DFF;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 2px;
    cursor: pointer;
}


/*TODO: El formulario se sale del container si se reduce el tamaño de la ventana*/
.formulario {

    padding: 20px;
}


/*esto es para que quede centrado el formulario*/
.container{
    position: absolute;
    left: 25%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 65%

}
.container2{
    position: absolute;
    left: 75%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 65%
}

.moneda::before{
    content: "$";
}




#producto, #proveedor{
    color: #111;
}

/*esto es mientras tanto para que el boton cancelar se vea bien*/
#dañado{
    padding: 12px 29px;
}

#borrar{
    padding-left: 15px;
    padding-right: 15px;
}
