<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head('Todos los Productos')"></head>

<body>
<div th:replace="layout::mainbar"></div>
<div class="container">
    <h1>Lamentamos informarle que esta página aun no se encuentra disponible, sin embargo un grupo de chimpances
    extremandamente inteligentes están trabajando para terminar, le solicitamos tener paciencia con ellos.</h1>
    <img th:src="@{/images/mono.jpg}" class="img-fluid" alt="Responsive image"/>
</div>
</body>
</html>