<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(page_title)" lang="es">
    <meta charset="UTF-8"/>
    <title th:text="'Inventario | ' + ${page_title}">giflib</title>
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}"/>
</head>
<body>
    <div th:fragment="mainbar">
        <header class="main-header group">
            <div>
                <ul>
                    <li><a th:href="@{/}">Todos</a></li>
                    <li><a th:href="@{/agregar}">Agregar</a></li>
                    <li><a th:href="@{/actualizar}">Actualizar</a></li>
                    <li><a th:href="@{/eliminar}">Eliminar</a></li>
                </ul>
            </div>
        </header>
    </div>


</body>
</html>